/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
  }
  
  main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  .movie-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .movie {
    width: 30%;
    margin: 15px;
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }
  
  .movie img {
    width: 100%;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .movie {
      width: 45%;
    }
  }
  
  @media (max-width: 480px) {
    .movie {
      width: 90%;
    }
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
  }

  .home-button {
    background: burlywood;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  .home-button li a:hover {
    background: #000;
  
    transition: 0.2s;
  }
  .home-button li a:hover .fab {
    color: #fff;
  }